APP_NAME=user-service
APP_ENV=local
APP_PORT=8001

DATABASE_URL=jdbc:mysql://localhost:3306/user_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DATABASE_USERNAME=root
DATABASE_PASSWORD=
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
