APP_NAME=recipe-service
APP_ENV=local
APP_PORT=8002

DATABASE_URL=jdbc:mysql://localhost:3306/recipe_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
JPA_SHOW_SQL=false
