AUTH_APP_PORT=8000

AUTH_DATABASE_URL=jdbc:mysql://localhost:3306/auth_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
AUTH_DATABASE_USERNAME=root
AUTH_DATABASE_PASSWORD=16072004
AUTH_JPA_DDL_AUTO=update
AUTH_JPA_SHOW_SQL=false

JWT_SECRET=change-this-to-a-long-random-secret-at-least-32-bytes-long
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=30

OTP_EXPIRATION_MINUTES=10
PASSWORD_RESET_TOKEN_EXPIRATION_MINUTES=15

GOOGLE_CLIENT_ID=455548771884-03nsdmptvgn2vs49bbs93rd9jmn9b7c4.apps.googleusercontent.com

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=systemb444@gmail.com
MAIL_PASSWORD=henm xfja amxl vtbd
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
