APP_NAME=api-gateway-service
APP_ENV=local
APP_PORT=8080

AUTH_SERVICE_URL=http://localhost:8000
USER_SERVICE_URL=http://localhost:8001
RECIPE_SERVICE_URL=http://localhost:8002
AI_RECOMMENDATION_SERVICE_URL=http://localhost:8004

JWT_SECRET=
